mixin filaUsuario(usuario)
  tr
    td= usuario.email
    td= usuario.username
    td= usuario.edad
    td= usuario.municipio
    td= usuario.provincia
    td= usuario.codigo_postal
    td= usuario.curso

mixin filaPartidas(partida)
  tr
    td= partida.username
    td= partida.nombre
    td= partida.puntuacion
    td= partida.fecha



doctype html
html
  head
    title Información de Usuarios
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
